:root {
    --base: #361715;
}

[data-theme="dark"] {
    --base: #f0ddd0;  
}

.a-product-button{
    height: 20vh;
    width: 30vh;
}

main{
    margin-bottom: 2vh;
}

hr {
    background-color: var(--base);
}

h1, h2, h3{
    color: var(--base);
}

p, label {
    color: var(--base);
}

#p-subtotal, #p-total, #p-envio, #p-impuesto {
    color: var(--base);
    margin-bottom: 1vh;
    font-weight: bold;
}

#p-envio, #p-impuesto{
    font-size: .7rem;
    font-weight: normal;
}

#pago-metodo, #pago-btns{
    width: 90vw;
}

#met-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#pago-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-comprar {
    min-width: 75px;
}

.a-product-card {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.a-product-card img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}