/* Colores */

:root {
    --bg-main: #faf5f1;
    --bg-navbar: #d3c2ad;
    --bg-card: #fff7f0;
    --bg-modal: #fffaf5;

    --text-primary: #5a3725;
    --text-secondary: #7a5b4a;
    --text-light: #8a6a58;

    --accent: #b4845d;
    --accent-hover: #8a5c4f;
    --border-light: #c7b9a6;
    --icon: #b4845d;
    --card-p: #7a6258;
    --card-title: #5a3e36;
    --container-h: #5a3e36;
    --modal-a: #c47b59;
    --modal-p: #5a4039;
    --modal-c: #7a5f54;
}

[data-theme="dark"] {
    --bg-main: #352924;          
    --bg-navbar: #3a2d26;        
    --bg-card: #3c2f28;          
    --bg-modal: #3f322a;      

    --text-primary: #f0e2d5;     
    --text-secondary: #d3b7a3; 
    --text-light: #c7a894;     

    --accent: #d9a774;          
    --accent-hover: #c28d5c;     
    --border-light: #8a6f5d;     
    --icon: #e0b285;             
    --card-p: #d2b39f;           
    --card-title: #f2d7c0;     
    --container-h: #f3dac5;      
    --modal-a: #e4a67b;          
    --modal-p: #d6b6a3;        
    --modal-c: #e2c3b3;
}

/* Agregué un margen para que no quedara pegado hasta el tope de la pagina el contenido de main */
main {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-section {
    width: 90vw;
    margin-bottom: 2vh;
}

.admin-title {
    text-align: center;
    margin-bottom: 2vh;
    color: #361715;
}

/* Como se ven los productos para Admin */
.a-product-card {
    width: 100%;
    margin: 2vh 0;
    padding: 1rem;

    /* Estilo */
    background: #faf5f1;
    border: 2px solid #d3c2ad;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    display: flex;
    flex-wrap: wrap;
}

.a-product-card img {
    height: 15vh;
    margin-right: 1vw;

    border-radius: 14px;
}

.a-product-card form {
    margin-bottom: 1vh;
}

.a-product-desc {
    flex: 1;
}

.a-product-button{
    align-self: center;
    height: 10vh;
    width: 10vh;

    margin: 1vh;
    padding: 1vh;
    font-size: 2.5vh;

    cursor: pointer;

    border-radius: 1rem;
    background-color: #694440;
    color: #fff7f0;
    text-align: center;
    transition: all .25s ease;
}

.a-product-button:hover{
    background-color: #361715;
    font-size: 3vh;
}

.a-product-modify{
    /* Obliga a que ocupe todo el tamaño del Flex y pase a la siguieente fila */
    flex-basis: 100%;
}

.a-product-modify hr {
    margin: 2vh 0;
    background-color: #694440;
    
    width: 100%;
    height: 0.5vh;

    border-radius: 10rem;
}

.a-product-input {
    width: 100%;
    min-height: 5vh;

    margin: 1vh 0 2vh;
    padding: .5vh;

    border: 1px solid #d3c2ad;
    border-radius: 0.5rem;
}

.input-resize{
    resize: vertical;
}

.btn-modify {
    height: 4vh;
    width: 6vw;

    cursor: pointer;
    border: 5px solid #fff7f0;
    background-color: #8d6e63;
    color: #fff7f0;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.btn-modify:hover {
    background-color: #694440;
    transform: scale(1.05);
}

/* Graficas */

#grafica {
    margin-top: 2vh;
    width: 50vw;
    height: 60vh;
}

#searchProduct {
    margin: 2vh 0;
}

#search-container {
    min-height: 75vh;
}

/* Tablas */

#table-categ, #table-all {
    margin: 2vh 0;
}

#table-categ{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#table-container table{
    width: 100%;
    border: solid 1px;
    border-collapse: collapse;
}

#table-container th, #table-container td {
    height: 1rem;
    border: solid 1px;
    padding: 5px;
    
}