:root {
    --title: #361715;
    --title-hover: #20110a;

    --card-bg: #faf5f1;
    --card-border: #d3c2ad;

    --input: #d3c2ad;
    --input-hover: #c0a584;
}

[data-theme="dark"] {
    --title: #f0ddd0;  
    --title-hover: #dbc5b6;
     
    --card-bg: #665648;
    --card-border: #311f14;

    --input: #918474;
    --input-hover: #756552;
}

#home {
    width: 100%;
    height: 85vh; 
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-overlay {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.home-overlay-container {
    display: grid;
}

.ho-object {
    grid-column: 1;
    grid-row: 1;
}

.home-title {
    font-size: 4.5rem;
    font-weight: 800;
    color: #3e2723; 
    margin-bottom: 15px;
}

#ht-outline {
    -webkit-text-stroke: 5px #fff7f0;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.3);
}

.home-subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff7f0;  
    margin-bottom: 35px;
}

#hs-outline {
    -webkit-text-stroke: 5px #3e2723;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.product-card p {
    min-height: 10rem;
}

.product-button, .home-btn {
    display: inline-block;
    padding: 14px 35px;
    font-size: 1.3rem;
    font-weight: 600;
    border: 5px solid #fff7f0;
    background-color: #8d6e63;
    color: #fff7f0;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);

    cursor: pointer;
}

.product-button:hover, .home-btn:hover {
    background-color: #6d4c41;
    transform: scale(1.05);
}

.product-card img {
    height: 25vh;
    object-fit: cover;
}

#subscribe-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

#title-sub {
    color: var(--title);
    font-size: 3rem;
    margin-bottom: 1vh;
}

#formSub {
    width: 80%;

    background: var(--card-bg);
    border-radius: 14px;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#formSub input{
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;

    border-radius: 10px;
    border: 1px solid #cdb9a9;
    background: var(--input);
    margin-bottom: 5vh;
}

#formSub input::placeholder {
    color: var(--title);
}

#subEnviar {
    height: 5vh;
    min-width: 125px;
    padding: 0;
    font-size: 0.8rem;
}